@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

.light {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  @apply text-foreground bg-background font-inter;
}

button {
  @apply cursor-pointer;
}
